.sectionWrapper {

    width: 98%;
    min-height: 300px;
    height: auto;
    padding: 0px 5px;

}

.sectionInner {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 768px){


    .sectionWrapper{
        width: 100%;
        max-width: 950px;
        padding: 100px 5px 0 5px
    }


}