.socialLinksSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0
}

.calendlyWrapper{

    margin: 30px 0;
}

.contactGridWrapper{
    display: flex;
    flex-direction: column;

}

.contactGridLeft{

    min-height: 100px;
    height: auto;
    width: 100%;

}

.contactGridRight{
    width: 100%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0
}

.contactGridRight a{
    margin: 5px 0
}


@media screen and (min-width: 768px) {

    .socialLinksSection{

        align-items: flex-end;
    }
    .contactGridRight{
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-end;
    }

    .contactGridRight a{
        margin: 0 10px
    }
}