

.singleEventWrapper {
    width: 100%;
    min-height: 800px;
    height: auto
}

.singleEventInner {

    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.singleEventHeader{

    width: 100%;
    height: 150px;
    background-color: var(--background);
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.singleEventHeader > h3 {
    text-align: center;
}

.singleEventMainContent{

    display: flex;
    flex-direction:column;
    padding-top: 40px;
    width: 100%;
    max-width: 1000px


}
.singleEventContent50{

    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 15px;
    display: flex;
    align-items: normal;
    justify-content: normal;
    flex-direction: column;
}


.singleEventDescriptionParagraph{
    margin: 15px 0;
    line-height: 35px;
    font-size: 1.2rem;
}

.singleEventListItem{
    line-height: 35px;
}

.singleEventDescriptionParagraph > h3{
    margin-bottom: 10px
}



.singleEventContentListWrapper {
    padding: 0 25px
}
.singleEventDetailsBoxWrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.2rem;

}

.singleEventDetailsBoxWrapper >.detailsBoxItem {

    width: 100%;
    padding: 10px 3px;
}

.singleEventDetailsBoxWrapper >.detailsBoxItemHeader {
    display: flex;
    justify-content: flex-start;
}

.detailsBoxItemHeader >h3{
    font-size: 2rem;
    padding-bottom: 10px;
}

/*workshop list item*/

.workshopListItemWrapper {

    width: 100%;
    height: auto;
    margin: 5px auto;
    display: flex;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--background);
    color: var(--textColor);
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.workshopListItemContent{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 40px;
    font-size: 1.5rem
}
@media screen and (min-width: 768px){

    .singleEventInner {

        padding: 40px;


    }
    .singleEventMainContent{
        flex-direction:row;
    }

    .singleEventContent50{
        align-items: center;
        justify-content: center;
        padding: 15px
    }

    .singleEventDetailsBoxWrapper {
        width: 80%;
        margin:auto
    }

    /*workshop item*/

    .workshopListItemWrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 900px;

    }

    .workshopListItemContent{
        flex-direction:row;
        width: 50%;
        justify-content: space-between;
        font-size: 1.2rem;
    }
}