/*event registration*/

.eventRegistrationHeader {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.75rem;

}

.formItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    line-height: 30px

}

.formItem > input,
.formItem > select,
.formItem > textarea  {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    color: black;
    font-size: 1.2rem;
    font-family: var(--font-tt-norms);
}


.formItem > input:focus-visible,
.formItem > input:active {
    border: 1px solid gray
}

.inputError {
    outline-color: red;
    border: 1px solid red !important;
    color: red
}


.inputErrorText {
    color: red
}

/*login form*/

.loginFormInner{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.loginFormHeader, .workshopFormHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.loginForm {

    width: 100%
}


/*treatmentform */


.newTreatmentFormWrapper {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100dvh;
    height: auto;
    background-color: var(--seachBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.newTreatmentFormInner {

    position: relative;
    width: 100%;
    overflow-y: auto;
    max-width: 1300px;
    min-height: 800px;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
}

.newTreatmentHeading {
    font-size: 2rem;
    text-align: center;
}

.newTreatmentCloseButton {
    position: absolute;
    right: 30px;
    top: 30px;
}

.newTreatmentFormSection {

    width: 90%;
    margin: 0 auto;
    padding: 20px 10px 30px 10px;


}

.newTreatmentBody{
 width: 100%;
    flex: 1; /* Takes up the remaining space in the modal */
    overflow-y: auto; /* Enables vertical scrolling */
    background: #fff;
    padding-bottom: 90px;
}

.textAreaStyle, .inputFieldStyle {

    font-family: var(--font-tt-norms);
    font-size: 1.7rem !important;
}

.textAreaStyle:focus-visible,
.inputFieldStyle:focus-visible,
.inputFieldStyle:active {
    outline: 2px solid var(--background) !important;
    border-radius: 3px !important;
    border: 2px solid var(--background) !important;
}

/*workshop form*/

.workshopForm{
    width: 100%;
    max-width: 700px;
}
.newWorkshopWrapper{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}

.workshopFormInner{
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.workshopFormGroup{
    width: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



@media screen and (min-width: 768px) {

    .formItem {
        width: 80%;
        margin: auto
    }

    .workshopDescriptionItem {
        width: 100% !important  ;
    }
    .gdprItem > .form-check {
        width: 80%;
        margin: auto;
    }

    /*login form*/
    .loginForm {
        width: 100%;
        margin: auto;

    }


    /*treatmentform*/
    .newTreatmentFormInner {
        width: 70%;
        height: 80%;
        max-height: 1000px;
    }

    .textAreaStyle, .inputFieldStyle, .inputFieldStyle > option {

        font-size: 1.3rem !important;
    }

    /*workshop form*/


}

@media screen and (min-width: 1208px) {

    .workshopFormGroup{
        flex-direction: row;
    }
}