:root {
    --background: rgba(240, 223, 211, 1);
    --backgroundBoxShadow: rgba(240, 223, 211, 0.09);
    --background80: rgba(255, 255, 255, 0.8);
    --foreground: rgba(23, 23, 23, 1);
    --textColor: rgba(51, 51, 51, 1);
    --seachBackground: rgba(23, 23, 23, 0.4);
    --borderColor: var(--textColor)
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--textColor);
    background: var(--background);
    font-family: var(--font-tt-norms);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-roxborough-cf-regular);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.innerWrapper{

    padding: 20px 10px;
    word-break: break-word;
    width: 100%;
}
.mainContent {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    min-height: 1000px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center

}

.pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    height: auto;
    padding: 5px 5px;
    overflow-wrap: break-word;
    line-height: 25px
}

.globalButton {

    min-width: 100px;
    max-width: 200px;
    width: auto;
    min-height: 40px;
    height: auto;
    text-align: center;
    padding: 10px;
    color: var(--background);
    background-color: var(--textColor);
    border: var(--borderColor);
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: 0 3px
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid var(--background);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--foreground) transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.globalButton:hover {
    background-color: var(--background);
    color: var(--textColor);
    outline: 1px solid var(--textColor);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.linkStyle {
    color: var(--textColor);
    text-decoration: none;
    border-bottom: 1px solid var(--background);
    font-family: var(--font-roxborough-cf-regular)
}

.activeLink {
    color: white;
    border-bottom: 3px solid var(--textColor);
    font-family: var(--font-roxborough-cf-regular)
}

.innerTextLinkStyle {
    color: var(--textColor);
    text-decoration: none;
    font-family: var(--font-tt-norms)
}

.innerTextLinkStyle:hover {
  text-decoration: 4px underline;
    text-decoration-color: var(--background);
}

.input-group >.form-check >.form-check-label {
    margin-left: 10px
}

.globalModal {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100dvh;
    background-color: var(--seachBackground);
    z-index: 2000;
}

.globalModalInner{

    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


}
.modalCloseButton{
    position: relative;
    right: 20px;
    top: 50px;
    z-index: 3000;
}
.globalModalBody{

    width: 100%;
    border-radius: 5px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1200px
}
@media screen and (min-width: 768px) {
    .mainContent {
        max-width: 1300px
    }

    .innerWrapper{
        width: 80%;
        margin: 0 auto
    }
}
