:root {
    --background: rgb(230, 211, 198);
    --headingColor: var(--background);
    --backgroundBoxShadow: rgba(240, 223, 211, 0.09);
    --background80: rgba(255, 255, 255, 0.8);
    --foreground: rgba(23, 23, 23, 1);
    --textColor: rgba(51, 51, 51, 1);
    --seachBackground: rgba(23, 23, 23, 0.4);
    --borderColor: var(--textColor)
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: var(--textColor);
    font-family: var(--font-montserrat);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
    line-height: 1.3;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.innerWrapper{
    word-break: break-word;
    width: 100%;
}
.mainContent {
    width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    min-height: 1000px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center

}

.sectionInner {
    padding: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    height: auto;
    overflow-wrap: break-word;
    line-height: 25px
}

.globalButton {

    min-width: 100px;
    max-width: 200px;
    width: auto;
    min-height: 40px;
    height: auto;
    text-align: center;
    padding: 10px;
    color: var(--background);
    background-color: var(--textColor);
    border: var(--borderColor);
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: 0 3px
}

.globalTextLink {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}
.globalTextLink:first-child{
    padding-left: 0;
    margin-left: 0;
}
.globalTextLink:hover{
    text-decoration: underline;
}
.loader {
    width: 48px;
    height: 48px;
    border: 3px solid var(--background);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--foreground) transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.globalButton:hover {
    background-color: var(--background);
    outline: 1px solid var(--textColor);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.linkStyle {
    color: var(--background);
    font-size: 1.4rem;
    text-decoration: none;
    font-family: var(--font-montserrat);
}

.activeLink {
    color: black;
    font-family: var(--font-montserrat);
}

.innerTextLinkStyle {
    color: var(--textColor);
    text-decoration: none;
    font-family: var(--font-montserrat);
}

.innerTextLinkStyle:hover {
  text-decoration: 4px underline;
    text-decoration-color: var(--background);
}

.input-group >.form-check >.form-check-label {
    margin-left: 10px
}

.globalModal {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100dvh;
    background-color: var(--seachBackground);
    z-index: 2000;
}

.globalModalInner{

    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


}
.modalCloseButton{
    position: relative;
    right: 20px;
    top: 50px;
    z-index: 3000;
}
.globalModalBody{

    width: 100%;
    border-radius: 5px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1200px
}


@media screen and (min-width: 768px) {
    .mainContent {
        width: 100%;
        max-width: 1300px
    }

    .innerWrapper{
        width: 90%;
        margin: 0 auto
    }

    .sectionInner {
        padding: 100px;

    }
}
