:root {
    --background: rgba(240, 223, 211, 1);
    --background80: rgba(255, 255, 255, 0.8);
    --foreground: #171717;
    --textColor: rgba(51, 51, 51, 1);
    --borderColor: var(--textColor)
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--textColor);
    background: var(--background);
    font-family: var(--font-tt-norms);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-tan-mon-cheri);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mainContent {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    min-height: 1000px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center

}

.pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    height: auto;
    padding: 5px 5px;
    overflow-wrap: break-word;
    line-height: 25px
}

.globalButton {

    min-width: 100px;
    max-width: 200px;
    width: auto;
    min-height: 40px;
    height: auto;
    text-align: center;
    padding:10px;
    color: var(--background);
    background-color: var(--textColor);
    border: var(--borderColor);
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    text-decoration: none;
}

.globalButton:hover {
    background-color: var(--background);
    color: var(--textColor);
    outline: 1px solid var(--textColor);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.linkStyle {
    color: var(--textColor);
    text-decoration: none;
    border-bottom: 1px solid var(--background);
    font-family: var(--font-tan-mon-cheri)
}
.activeLink {
    color: white;
    border-bottom: 3px solid var(--textColor);
    font-family: var(--font-tan-mon-cheri)
}

@media screen and (min-width: 768px) {
    .mainContent{
        max-width:1300px
    }
}
