.gridInner {
    display: flex;
    flex-wrap: wrap;

}

.heading {
    width: 100%;
    padding: 60px 20px 0 20px;
    text-align: center;
}
.gridItemWrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--foreground);
    margin: 5px 0;
    text-decoration: none;
}
.gridItemWrapper:last-child{
    border: none
}
.gridItemContent {
    padding: 30px;
    font-size: 0.9rem
}

.gridItemContent p {
    font-size: 1rem
}

.gridItemContent :is(h1,h2, h3, h4, h5) {

    font-size: 1.3rem
}

.gridItemImg {
    display: none;
}

@media screen and (min-width: 768px) {

    .gridItemWrapper {
        width: 50%;
        min-width: 420px;
        min-height: 300px;
        height: auto;
        border: none
    }

    .gridInner {
        padding: 100px
    }

    .gridItemImg {
        display: block;
    }
}
