.gridInner {
    display: flex;
    flex-wrap: wrap;

}

.heading {
    width: 100%;
    padding: 60px 20px 0 20px;
    text-align: center;
}
.gridItemWrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    transition: box-shadow 0.9s ease;
}

.gridItemWrapper:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;
}

.fullBorder {
    border: 1px solid var(--foreground);
    border-radius: 10px;
}

.borderTop {
    border-top: 1px solid var(--foreground);
}

.borderLeft {
    border-left: 1px solid var(--foreground); ;
}

.borderLeftTop {
    border-top: 1px solid var(--foreground);
    border-left: 1px solid var(--foreground);
}

.borderRightBottom {
    border-bottom: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground);
}
.borderRight {
    border-right: 1px solid var(--foreground) !important;
}

.borderBottom {
    border-bottom: 1px solid var(--foreground) !important;
}

.lightBeige {
    border-color: var(--headingColor) !important;
}

.darkGrey {
    border-color: var(--textColor) !important;

}
.beige {
    border-color: var(--background) !important;

}
.white{
    border-color: var(--foreground) !important;
}

.gridItemContent {
    padding: 30px;
    font-size: 0.9rem
}

.gridItemContent p {
    font-size: 1rem
}

.gridItemContent :is(h1,h2, h3, h4, h5) {

    font-size: 1.3rem
}

.gridItemImg {
    display: none;
}

@media screen and (min-width: 768px) {

    .gridItemWrapper {
        width: 48%;
        min-width: 420px;
        min-height: 300px;
        height: auto;
        margin: 3px;
    }

    .gridInner {
        padding: 100px
    }

    .gridItemImg {
        display: block;
        width: 150px;
        max-height: 100px;
        height: auto;
        object-fit: cover;
    }
}
