.mobileNavWrapper {
    display: block;
    width: 100%;
    background-color: lightgrey;
    height: 100vh
}

.mobileNavInner {
    width: 80%;
    margin: auto;
    display: flex;


}

.desktopNavWrapper {

    display: none;
}

@media screen and (min-width: 768px) {

    .mobileNavWrapper {
        display: none;
    }

    .desktopNavWrapper {
        display: block;
        min-height: 100px;
        width: 100%;
    }

}