.referenceWrapper {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.referencesCarousel{
    max-width: 500px !important;
}

.referenceItemWrapper {
    padding: 30px;
    position: relative;
}

.stylingElement {
    border-bottom: 3px solid var(--headingColor);
    width: 30%;
    margin: 20px auto;
}

.referenceHeading {
        width: 100%;
        padding: 60px 20px 0 20px;
        text-align: left}


@media screen and (min-width: 550px){
    .referencesCarousel{
        max-width: 700px !important
    }
}


@media screen and (min-width: 768px){
    .referencesCarousel{
        width: 100%;
        max-width: 1250px !important;
    }
}