
.textImgSectionInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    height: auto;
    border: 1px solid red;
}

.textBody {
    flex: 1;
}

.textBodyInner {
    padding: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.imageContainer {
    flex: 1;
    display: block;
    height: 600px;
    object-fit: contain;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobileImage {
    height: auto;
    border: 1px solid red;
}

@media screen and (min-width: 756px) {

    .mobileImage {
        display: none;
    }

    .textImgSectionInnerLeftToRight {
        display: flex;
        flex-direction: row;

    }

    .textImgSectionInnerRightToRight {
        display: flex;
        flex-direction: row-reverse;

    }

    .textBody {
        flex: 0 0 75%;
    }

    .textBodyInner {
        padding: 100px
    }

    .imageContainer {
        display: inline-block;
        height: 900px;
        flex: 0 0 25%;
    }
}