.textImgImagesGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.textImgImagesGridItem {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    object-fit: cover;
    object-position: top;
    margin: 5px 0;
}

.textImgImagesGridTextGrid{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {

    .textImgImagesGridTextGrid{
        display: flex;
        flex-direction: row;

    }
    .textImgImagesGrid{
        flex-direction: row;
    }
    .textImgImagesGridItem{
        width: 48%;
        max-height: 250px;
        object-position: top;
    }
}