.textImgImagesGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.textImgImagesGridItem {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
}

.textImgImagesGridTextGrid{
    display: flex;
    flex-direction: column;
 margin-bottom: 30px;
}


@media screen and (min-width: 768px) {

    .textImgImagesGridTextGrid{
        display: flex;
        flex-direction: row;

    }
    .textImgImagesGrid{
        flex-direction: row;
    }
    .textImgImagesGridItem{
        width: 48%;
        max-height: 120px
    }
}